.aside {
  display: flex;
  flex-direction: column;
  flex: 0 0 306px;
  background: $whiteColor;
  box-shadow: 0 10px 60px 0 rgba(#E2ECF9, .5);
  padding: 36px 28px 76px 28px;

  &__logo {
    margin-bottom: 54px;
  }

  &__menu {
    flex: auto;
  }
}
