.data {
  background: $whiteColor;
  box-shadow: 0 10px 60px 0 rgba(#E2ECF9, .5);
  border-radius: 30px;
  margin-top: 51px;
  padding: 30px 40px 40px 38px;

  @media (max-width: $laptop) {
    padding: 20px;
  }

  @media (max-width: $tablet) {
    margin-top: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;

    // @media (max-width: $tablet) {
    //   font-size: ;
    // }
  }

  &__subtitle {
    color: $activeLightColor;
    font-weight: 400;
  }

  &__column {
    flex: auto;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__entries {
    color: #B5B7C0
  }
}
