.menu {
  &__list {
    list-style: none;
  }
}

.menu-item {
  border-radius: 8px;
  transition: $standardTrans;

  &:not(:last-child) {
    margin-bottom: 18px;
  }

  a {
    display: flex;
    align-items: center;
    padding: 11px 8px 11px 11px;
  }

  &__icon {
    fill: $greyColor;
    &_type_stroke {
      fill: none;
      stroke: $greyColor;
    }
  }

  &__arrow {
    fill: none;
    stroke: $greyColor;
  }

  &__text {
    font-size: 14px;
    color: $greyColor;
    margin-left: 14px;
    flex: auto;
  }

  &_active {
    background: $accentColor;
    transition: $standardTrans;

    .menu-item__text {
      color: $whiteColor;
    }

    .menu-item__icon {
      fill: $whiteColor;
      &_type_stroke {
        fill: none;
        stroke: $whiteColor;
      }
    }

    .menu-item__arrow {
      stroke: $whiteColor;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background: $accentColor;
      transition: $standardTrans;
  
      .menu-item__text {
        color: $whiteColor;
      }
  
      .menu-item__icon {
        fill: $whiteColor;
        &_type_stroke {
          fill: none;
          stroke: $whiteColor;
        }
      }
  
      .menu-item__arrow {
        stroke: $whiteColor;
      }
    }
  }
}
