.pagination {
  display: flex;
  align-items: flex-end;
  gap: 12px;

  &__more {
    font-size: 12px;
  }

  &__button {
    width: 26px;
    height: 24px;
    color: $greyDark;
    background-color: #F5F5F5;
    border: 1px solid $greyLight;
    border-radius: 4px;
    cursor: pointer;
    transition: $standardTrans;
    svg {
      fill: $greyDark;
    }

    &_active {
      background-color: $accentColor;
      color: $whiteColor;
      border-color: $accentColor;
      svg {
        fill: $whiteColor;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $accentColor;
        color: $whiteColor;
        border-color: $accentColor;
        svg {
          fill: $whiteColor;
        }
      }
    }

    &_prev {
      transform: rotate(180deg);
    }
  }
}
