.search {
  display: flex;
  align-items: center;
  background: #F9FBFF;
  border-radius: 10px;
  padding: 7px 8px;
  height: max-content;
  min-width: 216px;
  margin-right: 9px;

  &:focus-within {
    outline: solid $greyMedium;
  }

  &__input {
    background: transparent;
    border: none;
    margin-left: 8px;

    &:focus {
      outline: none;
    }
  }

  @media (max-width: $mobileB) {
    min-width: 0;
    margin-right: 0;
    padding: 4px 5px;

    &__icon {
      width: 18px;
      height: 18px;
    }

    &__input {
      margin-left: 5px;
    }
  }

  @media (max-width: $mobileS) {
    width: 100%;
  }
}
