.status {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 80px;
  padding: 3px 11px;
  border-radius: 4px;

  &_active {
    background-color: rgba($activeLightColor, .38);
    color: $activeDarkColor;
    border: 1px solid $activeDarkColor;
  }

  &_inactive {
    background-color: rgba($errorLightColor, .38);
    color: $errorDarkColor;
    border: 1px solid $errorDarkColor;

    .status__icon {
      fill: $errorDarkColor;
    }
  }

  &__icon {
    display: none;
  }

  @media (max-width: $mobileB) {
    padding: 3px 3px;

    &__icon {
      display: block;
    }

    &__text {
      display: none;
    }
  }
}