.table {
  margin-top: 26px;
  width: 100%;
  border-collapse: collapse;

  &__header {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: -20px;
      background: #EEEEEE;
      width: calc(100% + 38px + 38px);
      height: 1px;

      @media (max-width: $laptop) {
        width: calc(100% + 20px + 20px);
      }
    }
  }

  &__row {
    height: 29px;
  }

  &__cell {
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
    color: #292D32;

    @media (max-width: $laptop) {
      padding: 15px 10px;
      font-size: 12px;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &_header {
      color: $secondaryColor;
      text-align: left;
      padding: 14px 20px;
      border-bottom: none;
      @media (max-width: $laptop) {
        padding: 14px 10px;
      }
    }

    &_center {
      text-align: center;
    }
  }
}