.container {
  width: $containerWidth;
  margin-left: 71px;
}

.main {
  margin-top: 41px;
  margin-bottom: 41px;
}

// Responsive images ============================================
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper {
  display: flex;
}
