[class*='__container'] {
  max-width: ($containerWidth + $mainOffset * 2);
  margin: 0 auto;
  padding: 0 ($mainOffset);

  @media (max-width: $tablet) {
      padding: 0 $mainOffsetMobileB;
  }
}

// Responsive images ============================================
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

textarea {
  resize: vertical;
}

.button {
  background: $accentColor;
  padding: 8px 15px;
  font-size: inherit;
  font-weight: 500;
  transition: $standardTrans;
  border-radius: 5px;

  @media (any-hover: hover) {
    &:hover {
      background: $primaryColor;
      color: $secondaryColor;
      transition: $standardTrans;
    }
  }
  &.width_full {
    width: 100%;
  }

  &:active {
    transform: scale(0.9);
  }
}

main {
  margin-top: 103px;
  @media (max-width: $tablet) {
    margin-top: 65px;
  }
  @media (max-width: $mobileB) {
    margin-top: 56px;
  }
}

.section-title {
  text-align: center;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 500;

  @media (max-width: $tablet) {
    font-size: 26px;
  }

  @media (max-width: $mobileS) {
    font-size: 24px;
  }
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.9);

  &.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    background: transparent;
    padding: 0;
    position: absolute;
    right: -35px;
    top: -35px;

    svg {
      width: 40px;
      height: 40px;
      fill: $secondaryColor;

      @media (max-width: $mobileB) {
        fill: $primaryColor;
        width: 35px;
        height: 35px;
      }
    }
    
    &:hover {
      cursor: pointer;
    }

    @media (max-width: $mobileB) {
      right: 10px;
      top: 15px;
    }

    @media (max-width: $mobileS) {
      right: 8px;
      top: 12px;
    }
  }

  &__content {
    position: relative;
    background: $secondaryColor;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    max-width: 476px;

    @media (max-width: $mobileS) {
      height: 100%;
      margin: 0;
      border-radius: 0;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;

    @media (max-width: $mobileB) {
      text-align: left;
    }

    @media (max-width: $mobileS) {
      font-size: 22px;
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 15px;

    @media (max-width: $mobileS) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__message {
    display: none;
    padding: 8px;
    border-radius: 5px;
    color: $secondaryColor;
    margin-bottom: 10px;

    &.type_success {
      background: green;
    }

    &.type_error {
      background: darkred;
    }

    &.show_true {
      display: block;
    }
  }
}

.input {
  margin-bottom: 15px;

  @media (max-width: $mobileS) {
    margin-bottom: 10px;
  }

  &__label {
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
  }

  &__field {
    display: block;
    width: 100%;
    background: $addBackground;
    border: 1px solid $primaryColor;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
  }
}

.spacing {
  padding-top: 130px;
  margin: -100px 0 20px 0;

  @media (max-width: $tablet) {
    padding-top: 75px;
    margin: -65px 0 15px 0;
  }
}