//adaptive
$mobileS: 450px;
$mobileB: 600px;
$tablet: 900px;
$laptop: 1200px;

$containerWidth: 968px;

$mainOffset: 20px; // container safety paddings
$mainOffsetMobileB: 15px;
$mainFont: 'Poppins';
$mainWeight: 500;

$primaryColor: #000;
$secondaryColor: #B5B7C0;
$accentColor: #5932EA;
$whiteColor: #fff;
$activeDarkColor: #008767;
$activeLightColor: #16C098;
$errorDarkColor: #DF0404;
$errorLightColor: #FFC5C5;

$fontFamily: $mainFont, sans-serif;
$fontColor: $primaryColor;
$fontSize: 14;
$fontWeight: $mainWeight;

$standardTrans: all 0.4s ease 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);
