$mobileS: 450px;
$mobileB: 768px;
$tablet: 1024px;
$laptop: 1439px;

$containerWidth: 968px;

$mainFont: 'Poppins';
$mainWeight: 500;

$primaryColor: #000;
$secondaryColor: #292D32;
$greyColor: #9197B3;
$greyLight: #EEEEEE;
$greyMedium: #B5B7C0;
$greyDark: #404B52;
$accentColor: #5932EA;
$whiteColor: #fff;
$activeDarkColor: #008767;
$activeLightColor: #16C098;
$errorDarkColor: #DF0404;
$errorLightColor: #FFC5C5;

$fontFamily: $mainFont, sans-serif;
$fontColor: $primaryColor;
$fontSize: 14;
$fontWeight: $mainWeight;

$standardTrans: all 0.4s ease 0ms;
